body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}

.sec-third {
    display: flex;
    margin-bottom: 150px;
}

h1 {
    font-size: 70px;
}

.h2 {
    font-size: 50px;
    color: orange;
}

.span {
    color: red;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 70%;
    padding-top: 1%;
}

.ancor {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.first-sec {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-sec {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.full {
    box-shadow: 10px 10px 40px grey;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 5%;
}

.front {
    margin-left: 2%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

.exp {
    margin: 4%;
}

#font {
    border-left: 7px solid red;
}

#ful {
    border-left: 7px solid blue;
}

.last-sec {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

footer p {
    text-align: center;
}